/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #054fb9;
  --ifm-color-primary-dark: #0547a7;
  --ifm-color-primary-darker: #04439d;
  --ifm-color-primary-darkest: #043782;
  --ifm-color-primary-light: #0657cc;
  --ifm-color-primary-lighter: #065bd5;
  --ifm-color-primary-lightest: #0767f1;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #b4d0f7;
  --ifm-color-primary-dark: #8db8f3;
  --ifm-color-primary-darker: #7aacf1;
  --ifm-color-primary-darkest: #4087eb;
  --ifm-color-primary-light: #dbe8fb;
  --ifm-color-primary-lighter: #eef4fd;
  --ifm-color-primary-lightest: #ffffff;
}
